@import "../../colors";
section {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
  margin: 0;
  // background-color: $darker;
  > div {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    align-items: center;
    > div > h1 {
      color: $offWhite;
      font-weight: bolder;
      font-family: "Dancing Script", cursive;
    }
    > h1 {
      // font-size: 3rem;
      color: $offWhite;
      font-weight: bolder;
      font-family: "Dancing Script", cursive;
    }
  }
}
.anime-recent {
  padding-left: 4rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.home-header {
  font-size: 5rem;
  margin-top: 0;
}
.section-home-header {
  margin-top: 7rem;
}
.home {
  &::before {
    content: "";
    background-image: url("../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100rem;
    background-position: top;
    position: fixed;
    z-index: -1;
  }
}
.home-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  align-items: center;
}
@media screen and (max-width: 424px) {
  section {
    > div {
      > div {
        > h1 {
          padding: 2rem;
          font-size: 1.8rem;
          line-height: 2rem;
        }
      }
    }
  }
  .home-header {
    font-size: 2.5rem;
    transform: translate(0, -5rem);
  }
  .home {
    &::before {
      width: 24.6rem;
    }
  }
  .anime-recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2.4rem;
  }
  .home-container {
    gap: 1rem;
    > h1 {
      font-size: 3rem;
      line-height: 4rem;
      // padding-left: 4rem;
    }
  }
}
